@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Inconsolata:wght@600&family=Lato:ital,wght@0,300;1,900&family=Oswald:wght@700&display=swap");
* {
  scrollbar-width: thin;
}

*::-webkit-scrollbar {
  width: 10px;
}

*::-webkit-scrollbar-track {
  background: #bdfcc9;
  border-radius: 5px;
}

*::-webkit-scrollbar-thumb {
  background-color: #95e2a2;
  border-radius: 10px;
  /* border: 3px solid "#EDF1D6"; */
}

.profile-pic {
  background-image: url("../src/assets/logos/mypic.png");
  background-size: cover;
  background-position: center;
}

.box {
  position: relative;
  border-radius: 20px;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

.box::before {
  content: "";
  position: absolute;
  width: 200px;
  height: 250%;
  background-image: linear-gradient(to top, #ea580c, #ffffff);
  animation: animate 8s linear infinite;
}
.box::after {
  content: "";
  position: absolute;
  /* background: linear-gradient(to top, #68d391, #14532d, #22c55e); */
  background: linear-gradient(to top right, #86e9ac, #50e188, #22c55e);
  inset: 5px;
  border-radius: 20px;
}

@keyframes animate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
