@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Inconsolata:wght@600&family=Lato:ital,wght@0,300;1,900&family=Oswald:wght@700&display=swap");

body {
  color: #313136;
  font-size: "1.2rem";
  font-family: "Inconsolata", monospace;
}

* {
  scrollbar-width: thin;
}

*::-webkit-scrollbar {
  width: 10px;
}

*::-webkit-scrollbar-track {
  background: #bdfcc9;
  border-radius: 5px;
}

*::-webkit-scrollbar-thumb {
  background-color: #95e2a2;
  border-radius: 10px;
  /* border: 3px solid "#EDF1D6"; */
}
